.root {
    width: 100%;
    height: 60px;
    background-color: var(--PrimaryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 260px;
    box-sizing: border-box;

    :global {
        .custom_input {
            border-radius: 30px;
        }

        .custom-icon {
            cursor: pointer;
        }
    }
}